*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

/* header  */
header{
    height: 80px;
    background-color: #ff6900;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
}

header .container.flex{
    height: 100%;
    align-items: center;
}

header img{
    width: 15%;
}

header a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-right: 10px;
}

/* main  */
main{
    margin-top: 120px;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* card  */
.card{
    width: 32%;
}

.product{
    position: relative;
    /* debug */
    /* height: 150px; */
    /* background-color: gray; */
}

.product img{
    width: 100%;
}

.img-b{
    display: none;
    position: relative;
}

/* img change */
.product:hover .img-a{
    display: none;
}

.product:hover .img-b{
    display: inline-block;
}



/* lables  */
.lable{
    background-color: white;
    padding: 8px;
    font-weight: 700;
}

.bg-red{
    background-color: red;
    color: white;
}

.bg-green{
    background-color: green;
    color: white;
}

.heart{
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 30px;
    padding: 8px 16px;
}

.heart:hover{
    color: red;
}

.discount-sustainability{
    position: absolute;
    bottom: 30px;
}

/* description */
.description{
    margin-bottom: 40px;
}

.red{
    color: red;
}

.name, .red{
    font-weight: 700;
}

.line{
    text-decoration: line-through;
}



/* footer  */
footer{
    height: 80px;
    background-color: #1a1a1a;
}

footer .container.flex{
    height: 100%;
    align-items: center;
    line-height: 12px;
}

footer .name{
    color: white;
    font-size: 20px;
}

footer a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}